div{
    color: tomato;
    background-color: brown;
    margin-bottom: 10px;
    padding: 10px;
}
.code{
    text-align: center;
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
    background-color: blue;
    color: aqua;
}
#love{
    color:wheat;
background-color:blanchedalmond;
margin: 6px;
padding: 10px;
border-radius: 15px;
}
h2{
    width: 100px;
}